@model CAEProject.Models.ProjectService

@{
    ViewBag.Title = "Create";
    int a = 0, b = 0;
}

<section class=" bannerPic" style="background-image: url(/CAE-Master/img/bg001.jpeg); background-size: cover; background-position: center center; background-repeat: no-repeat;">

    <div class="container">
        <div class="col-md-12 h-text-center">

            <h1> 專案服務</h1>

        </div>
    </div>
</section>
<article>
    <section class="main-content">
        <div class="container px-md-4">
            <div class="row">
                <div class="col-md-12  col-xl-9">
                    <div class="container">
                        <ul class="e-breadcrumb mb-0">
                            <li>首頁</li>
                            <li>互動服務</li>
                            <li>專案服務</li>
                        </ul>
                    </div>
                    @using (Html.BeginForm("ProjectService", "ProjectServices", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        <div class="e-formBox clearfix mb-3">
                            <!--e-formBox-->
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="g-tv-12 form clearfix">
                                <label for="" style="display: inline-block;">服務類別</label>
                                <div>
                                    @Html.EnumDropDownListFor(model => model.ServiceType, "-- 服務類別 --", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ServiceType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <br style="clear: both;">
                            <div class="g-tv-6  clearfix">
                                <div class="left"><em>※</em><label for="data_telephone">需求主旨</label></div>
                                <div class="right">
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入需求主旨" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br style="clear: both;">

                            <div class="g-tv-6   clearfix">
                                <div class="left">
                                    <label for="data_telephone">
                                        指定顧問
                                        @Html.RadioButton("GenderType", 1, true) <label for="GenderType0">是</label>
                                    </label>
                                    <label>@Html.RadioButton("GenderType", 2, false) <label for="GenderType0">否</label></label>
                                </div>
                                <div class="right">
                                    @Html.EditorFor(model => model.Consultant, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入指定顧問", id = "data" } })
                                    @Html.ValidationMessageFor(model => model.Consultant, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <br style="clear: both;">
                            <div class="g-tv-12   clearfix">
                                <div class="left"><label for="data_exp"><em>※</em>需求內容</label></div>
                                <div class="right">
                                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入需求內容" } })
                                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br style="clear: both;">
                            <div class="g-tv-6 form clearfix parentItem">

                                <div class="left">附件上傳</div>

                                <div class="right">
                                    <div class="file e-btn e-btn_primary ">
                                        選擇檔案
                                        <input name="Annex" type="file" class="">
                                    </div>
                                </div>

                            </div>

                            <br style="clear: both;">
                            <div class="form clearfix checkArea ">
                                <!--送出按鈕-->
                                <div class="btn clearfix h-text-right mr-1">
                                    <button class="e-btn e-btn_success " id="submit">儲存</button>
                                </div>
                            </div>
                        </div>
                    }


                </div>
                <div class="col-sm-12 col-xl-3">

                    <div class="e_news mt-4">
                        <h3> <i class="fas fa-bullhorn"></i> 熱門研討會</h3>

                        <ul class="items_news items_news_muted">
                            @foreach (var sem in ViewBag.SeminarsNews)
                            {
                                if (a == 0)
                                {
                                    <li class="oneNews Hot">
                                        <a title="" href="@Url.Action("sem_page","Seminars",new {id=sem.Id})">
                                            <span class="newsDate">
                                                <u>@sem.SDate.ToString("yyyy")</u><i>@sem.SDate.ToString("/M/dd")</i>
                                            </span>
                                            <h2>@sem.Title</h2>
                                            <b class="department"></b>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="oneNews">
                                        <a title="" href="@Url.Action("sem_page","Seminars",new {id=sem.Id})">
                                            <span class="newsDate">
                                                <u>@sem.SDate.ToString("yyyy")</u><i>@sem.SDate.ToString("/M/dd")</i>
                                            </span>
                                            <h2>@sem.Title</h2>
                                        </a>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                    <div class="e_news">
                        <h3> <i class="fas fa-chalkboard-teacher"></i>熱門課程</h3>
                        <ul class="items_news items_news_muted">
                            @foreach (var sem in ViewBag.TrainingCourseNews)
                            {
                                if (b == 0)
                                {
                                    <li class="oneNews Hot">
                                        <a title="" href="">
                                            <span class="newsDate">
                                                <u>@sem.SDate.ToString("yyyy")</u><i>@sem.SDate.ToString("/M/dd")</i>
                                            </span>
                                            <h2>@sem.Title</h2>
                                            <b class="department"></b>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="oneNews">
                                        <a title="" href="">
                                            <span class="newsDate">
                                                <u>@sem.SDate.ToString("yyyy")</u><i>@sem.SDate.ToString("/M/dd")</i>
                                            </span>
                                            <h2>@sem.Title</h2>
                                        </a>
                                    </li>
                                }
                            }

                        </ul>
                    </div>

                    <div class="e_news">
                        <h3> <i class="fas fa-newspaper"></i> 廣告專區</h3>
                        <ul class="items_news items_news_ad_color">
                            <div class="p-ad__content ">
                                @foreach (var ad in ViewBag.AdNews)
                                {
                                    <div class="p-ad__img">
                                        <a title="@ad.Title" href="@ad.Url">
                                            <img src="/upfile/images/s@(ad.Photo)" class="e__img">
                                        </a>
                                    </div>
                                }
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
</article>
<script>
    $(document).ready(function () {
        $('input[type=radio][name=GenderType]').change(function() {
            if (this.value == '1') {
                //$('#data').attr('disabled', false);
                $('#data').show();
            }
            else if (this.value == '2') {
                //$('#data').attr('disabled', true);
                $('#data').hide();
            }
        });
        var beta = '@TempData["status"]';
        if (beta == true) {
            $('#submit').show();
        }
        else {
            $('#submit').hide();
        }
    })

</script>
@if (TempData["success"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["success"]));
        alert(message);
    </script>
}

