@model CAEProject.Models.News

@{
    ViewBag.Title = "Edit";
    int a = 0, b = 0;
}

<article>
    <section class="main-content">
        <div class="container px-md-4">
            <div class="row">
                <div class="col-sm-12 col-xl-9">
                    <div class="container">
                        <ul class="e-breadcrumb">
                            <li>首頁</li>
                            <li>公告服務</li>
                            <li>焦點新聞</li>
                        </ul>

                        <div class="newsContent">
                            <p class="TextTitle2">
                                @Model.Title
                            </p>
                            <div class="TextContent my-3">
                                <span class="newsDate"> <u>刊登日期</u> </span> <span class="newsDate_date">@Model.SDate.ToString("yyyy-MM-dd") </span> <span class="newsDate"> 資料來源</span><span class="newsDate_date"><a target="_blank" href="@Model.Url">@(Model.Url==null?"": "相關連結") </a></span>
                            </div>

                            <p class="TextContent">
                                <img class="e-img" alt="" src="/upfile/images/s@(Model.Photo)" style="padding-right: 10px; float: left; width: 477px; height: 307px;">
                                @Html.Raw(Model.Count)
                            </p>
                            <hr />
                            <div class="h-text-right">
                                <a href="@Url.Action("News","News",new {page=Request.QueryString["page"]})" class="e-btn e-btn_success " style="margin: 0 0 1em 0">返回列表</a>
                            </div>
                        </div>
                        <!-- 頁數 -->
                    </div>
                </div>
                <!--前台側邊連結(_NewsPartial)-->
                @Html.Partial("_NewsPartial")
            </div>
        </div>
    </section>
</article>