@model CAEProject.Models.TrainingCourse

@{
    ViewBag.Title = "Edit";
}

<section class=" bannerPic " style="background-image: url(/CAE-Master/img/bg001.jpeg); background-size: cover; background-position: center center; background-repeat: no-repeat;">

    <div class="container">
        <div class="col-md-12 h-text-center">
            <h1> 教育訓練</h1>
        </div>
    </div>
</section>
<article>
    <section class="main-content">
        <div class="container px-md-4">
            <div class="row">
                <div class="col-md-12 col-xl-9">
                    <div class="container ml-0">
                        <ul class="e-breadcrumb">
                            <li>首頁</li>
                            <li>研討會/課程</li>
                            <li> 教育訓練</li>
                        </ul>

                        <div class="newsContent mb-3">
                            <h1 class="articleTitle">@Model.Title</h1>

                            <div class="title_line py-3">
                                <span class="semDate my-1">活動場次</span> @Model.Title<br>
                                <span class="semDate my-1">活動地點</span> @Model.Address<br>
                                <span class="semDate my-1">報名時間</span><span class="h-text-danger"> @Model.SignUpSDate.ToString("yyyy-MM-dd hh:mm") ~ @Model.SignUpEDate.ToString("yyyy-MM-dd hh:mm")</span><br>

                                <span class="semDate">活動費用</span> @Model.Cost<br>
                            </div>

                            <div class="textEditor">
                                <table class="responsive">
                                    <tbody>

                                        <tr class="tit_line">
                                            <td colspan="3">
                                                一、財團法人金屬工業研究發展中心(以下簡稱本中心)為提供本中心及產業相關之活動訊息，向您蒐集本次報名所提供之個人資料，並依據個人資料保護法規定，於蒐集時依法向您告知下列事項：
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tit_b">蒐集目的</td>
                                            <td colspan="2">
                                                <p>1. 寄送本中心產業推廣、輔導、活動、訓練相關之訊息。</p>
                                                <p>2. 其他公務機關請求與本中心創設目的相關之行政協助事項。</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" class="tit_b">個人資料類別</td>
                                            <td class="tit_line2">識別個人者</td>
                                            <td class="tit_line2">如姓名、職稱、地址、聯絡方式。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit_line2">現行之受僱情形</td>
                                            <td class="tit_line2">如雇主、工作職稱、等級等。</td>
                                        </tr>
                                        <tr>
                                            <td>教育、考選、技術或其他專業</td>
                                            <td>如學歷資格、專業技術、特別執照等。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit_b">個人資料利用之期間、地區、對象及方式</td>
                                            <td colspan="2">除涉及國際業務或活動外，您的個人資料本中心僅於中華民國領域、在前述蒐集目的之必要範圍內，以合理方式利用至蒐集目的消失為止。</td>
                                        </tr>
                                        <tr>
                                            <td class="tit_b">當事人權利</td>
                                            <td colspan="2">您可向本中心「個資當事人權利行使窗口」行使查詢或請求閱覽、製給複製本、補充或更正、停止蒐集處理利用或刪除您的個人資料之權利，電話：<span class="tel">07-3513121轉2360</span>。</td>
                                        </tr>
                                        <tr class="last">
                                            <td class="tit_b">不提供個人資料之權益影響 </td>
                                            <td colspan="2">若您不提供個人資料，本中心將無法為您提供蒐集目的之相關服務。</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p class="tit2"> <i class="fa fa-arrow-down"></i>請同意勾選後進入申請程序</p>
                                <label class="read_copyright">
                                    <input name="data_agree" class="data_agree mr-1" type="checkbox" value="1" id="TrueOrFalse"><span class="h-m1">您瞭解此一同意書符合個人資料保護法及相關法規之要求，具有同意本網站蒐集、處理及使用您的個人資料之效果。</span>
                                </label>
                                <!--end of sem_ctn_text-->
                            </div>

                            <hr />
                            <div class="h-text-right">
                                <a class="e-btn e-btn_ad_color" id="goBack" href="@Url.Action("Index")">返回列表 </a>

                                <a class="e-btn e-btn_secondary" id="isTrue" href="@Url.Action("Create","RegistrationForms",new {id=Model.Id})">繼續報名 </a>
                                <a disabled class="e-btn e-btn_disable" id="isFalse">繼續報名 </a>
                                <!-- <a class="e-btn e-btn_secondary " href="EduDetail_final.html"> 繼續報名</a> -->
                            </div>
                        </div>

                    </div>
                </div>
                <!--前台側邊連結(_NewsPartial)-->
                @Html.Partial("_NewsPartial")
            </div>
        </div>

    </section>


</article>

<script>
    $(document).ready(function () {
        $("#isFalse").show();
        $("#isTrue").hide();

        $("#TrueOrFalse").click(function () {
            if ($(this).prop("checked")) {
                $("#isTrue").show();
                $("#isFalse").hide();
            } else {
                $("#isFalse").show();
                $("#isTrue").hide();
            }
        });

        $("#goBack").click(function() {
            
        })
    })
</script>
