@using CAEProject.Models
@model CAEProject.Models.ActivityRecord

@{
    IEnumerable<ActivityPhoto> activityPhoto = ViewBag.activityPhoto;
}
<section class=" bannerPic " style="background-image: url(https://images.unsplash.com/photo-1534067783941-51c9c23ecefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80); background-size: cover; background-position: center center; background-repeat: no-repeat;">

    <div class="container">
        <div class="col-md-12 h-text-center">
            <h1> 活動集錦</h1>
        </div>
    </div>
</section>
<article>
    <section class="main-content">
        <div class="container px-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <ul class="e-breadcrumb ml-0">
                            <li>首頁</li>
                            <li>公告服務</li>
                            <li>活動集錦</li>
                            <li>@Model.Title</li>
                        </ul>

                        <div class="row">
                            <div class="col-sm-12 col-xl-7">
                                <!-- top gallery -->
                                <main class="swiper-container gallery">
                                    <div class="swiper-wrapper">
                                        @foreach (var data in activityPhoto)
                                            {
                                            <div class="swiper-slide">
                                                <div class="swiper-zoom-container">
                                                    <img src="/upfile/photo/@data.Photo">
                                                </div>
                                                <div>@data.PhotoAnnotation</div>
                                            </div>
                                            }
                                    </div>
                                    <!-- Add Arrows -->
                                    <div title="next" class="swiper-button-next swiper-button-white"></div>
                                    <div title="prev" class="swiper-button-prev swiper-button-white"></div>
                                </main>

                                <!-- thumbs -->
                                <nav class="swiper-container gallery-thumbs">
                                    <div class="swiper-wrapper">
                                        @foreach (var data in activityPhoto)
                                        {
                                            <div class="swiper-slide">
                                                <img src="/upfile/photo/@data.Photo">
                                                <div>@data.PhotoAnnotation</div>
                                            </div>
                                        }
                                    </div>
                                </nav>
                            </div>
                            <div class="col-sm-12 col-xl-5">
                                <div class="e-photo">
                                    <ul class="items_news items_news_muted">

                                        <li class="oneNews Hot onePhoto">
                                            <span class="PhotoDate">
                                                <u> 活動地點</u>
                                            </span>
                                            <h2>@Model.Source</h2>
                                            <b class="department"></b>
                                        </li>

                                        <li class="oneNews onePhoto">
                                            <span class="PhotoDate">活動日期 </span>
                                            <h2> @Model.SDate.ToString("yyyy-MM-dd") </h2>
                                        </li>

                                        <li class="oneNews onePhoto">
                                            <span class="PhotoDate">照片張數 </span>
                                            <h2>@Model.ActivityPhotos.Count 張</h2>
                                        </li>

                                        <li class="oneNews onePhoto">
                                            <span class="PhotoDate">點閱次數 </span>
                                            <h2>@Model.Clicks</h2>
                                        </li>

                                    </ul>
                                </div>

                                <div class="h-text-right my-4">
                                    <a class="e-btn e-btn_third-color" href="@Url.Action("PhotoGallery","ActivityRecords")">返回列表</a>
                                </div>
                            </div>


                            <!-- 頁數 -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</article>

<script src="/CAE-Master/js/all.js "></script>

<script>
    /* gallery  */
    var galleryTop = new Swiper(".gallery", {
        spaceBetween: 10,
        grabCursor: false,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        },
        loop: true,
        loopedSlides: 4,
        autoplay: {
            delay: 5000
        },
        // other parameters
        on: {
            click: function () {
                /* do something */
            }
        },
        keyboard: {
            enabled: true,
            onlyInViewport: false
        }
    });
    /* thumbs */
    var galleryThumbs = new Swiper(".gallery-thumbs", {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: "auto",
        touchRatio: 0.4,
        slideToClickedSlide: true,
        loop: true,
        loopedSlides: 4,
        keyboard: {
            enabled: true,
            onlyInViewport: false
        }
    });

    /* set conteoller  */
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;
</script>