@using CAEProject.Models
@model CAEProject.Models.MbPaidViewModel

@{
    ViewBag.Title = "Create";
    MemberLevel applicationStatus = (MemberLevel)Convert.ToInt32(Request.QueryString["Type"]);
}
<style>
    ::placeholder {
        color: #a0a0a0;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #a0a0a0;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #a0a0a0;
    }
</style>
<article>

    <section class="main-content">
        <div class="container px-md-4">
            <div class="row">
                @using (Html.BeginForm("PaidCreate", "Members", new { area = "" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class=" m-ponent px-sm-3">
                            <h1 class="h-text-center font-weight-bolder"> CAE雲端及試作服務加值中心</h1>
                            <h2>會員註冊</h2>
                            <div class="mem_des container">
                                <div class="mem_title">
                                    <h3>填寫會員資料</h3>
                                </div>
                                <div class="e-formBox clearfix">
                                    <!--e-formBox-->
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left">
                                            申請類別
                                        </div>
                                        <div class="right">
                                            @UIHelp.MemberTypeHelperResult(applicationStatus)
                                            <input type="hidden" name="applicationType" value="@applicationStatus" />
                                        </div>
                                    </div>

                                    <div class="g-tv-6 form clearfix">
                                        <div class="left">
                                            申請時間
                                        </div>
                                        <div class="right">
                                            @DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss tt")
                                            <input type="hidden" name="DateTime" value="@DateTime.Now" />
                                        </div>
                                    </div>

                                    <br style="clear: both;">
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>會員帳號</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫電子信箱" } })
                                            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                                            <span></span>

                                        </div>
                                    </div>
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>設定密碼</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫6個以上英文與數字組合" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>
                                    <br style="clear: both;">

                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>公司名稱</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", placeholder = "例：擎昊科技" } })
                                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>統編</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.CompanyNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "例：01293078" } })
                                            @Html.ValidationMessageFor(model => model.CompanyNumber, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>
                                    <br style="clear: both;">

                                    <div class="g-tv-6 form clearfix">
                                        <div class="left">負責人</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.Principal, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫負責人名稱" } })
                                            @Html.ValidationMessageFor(model => model.Principal, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left">負責人職稱</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.PrincipalJobTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫負責人職稱" } })
                                            @Html.ValidationMessageFor(model => model.PrincipalJobTitle, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>
                                    <br style="clear: both;">

                                    <div class="g-tv-12 form clearfix">
                                        <div class="left"><em>※</em>聯絡地址</div>
                                        <div class="col-lg-6" id="twzipcode">

                                            @Html.Hidden("county")
                                            @Html.Hidden("district")
                                            @Html.Hidden("zipcode")
                                        </div>

                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫地址（路、巷、弄、號、樓)" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                    </div>

                                    <br style="clear: both;">

                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>公司電話</div>
                                        @Html.EditorFor(model => model.CompanyPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫公司電話" } })
                                        @Html.ValidationMessageFor(model => model.CompanyPhone, "", new { @class = "text-danger", color = "indianred" })
                                    </div>


                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>網址</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.CompanyUrl, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫公司網址" } })
                                            @Html.ValidationMessageFor(model => model.CompanyUrl, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br style="clear: both;">
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>聯絡人</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫聯絡人名稱" } })
                                            @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>

                                    <div class="g-tv-6 form clearfix">
                                        <div class="left">聯絡人職稱</div>

                                        <div class="right">
                                            @Html.EditorFor(model => model.ContactPersonJobTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫聯絡人職稱" } })
                                            @Html.ValidationMessageFor(model => model.ContactPersonJobTitle, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>

                                    <br style="clear: both;">
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>員工數</div>

                                        <div class="right">
                                            @Html.EditorFor(model => model.EmployeeCount, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫公司員工數" } })
                                            @Html.ValidationMessageFor(model => model.EmployeeCount, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>

                                    <div class="g-tv-6 form clearfix">
                                        <div class="left">分機</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.Extension, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫分機" } })
                                            @Html.ValidationMessageFor(model => model.Extension, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>
                                    <br style="clear: both;">


                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>聯絡人行動電話</div>
                                        <div class="right">
                                            @Html.EditorFor(model => model.ContactPersonPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫聯絡人行動電話" } })
                                            @Html.ValidationMessageFor(model => model.ContactPersonPhone, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em>聯絡人E-mail</div>

                                        <div class="right">
                                            @Html.EditorFor(model => model.ContactPersonEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "請填寫聯絡人E-mail" } })
                                            @Html.ValidationMessageFor(model => model.ContactPersonEmail, "", new { @class = "text-danger", color = "indianred" })
                                        </div>
                                    </div>
                                    <br style="clear: both;">

                                    <div class="g-tv-12 form clearfix">
                                        <div class="left"><em>※</em>公司屬性</div>
                                        <div class="right">
                                            @foreach (var data in Utility.GetEnumList(typeof(CAEProject.Models.CompanyType)))
                                            {
                                                <label>
                                                    @Html.RadioButtonFor(model => model.CompanyType, data.Value)@data.Text
                                                </label>
                                            }
                                        </div>
                                    </div>
                                    <br style="clear: both;">

                                    <div class="g-tv-12 form clearfix">
                                        <div class="left"><em>※</em> 產業類別</div>
                                        <div class="right">
                                            @foreach (var data in Utility.GetEnumList(typeof(CAEProject.Models.Industry)))
                                            {
                                                <label>
                                                    @Html.RadioButtonFor(model => model.Industry, data.Value)@data.Text
                                                </label>
                                            }
                                        </div>
                                    </div>


                                    <br style="clear: both;">
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left">
                                            <em>※</em>CAE軟體需求 <br>(可複選)
                                        </div>
                                        <div class="right">
                                            @foreach (var data in Utility.GetEnumList(typeof(CAEProject.Models.Demand)))
                                            {
                                                <label>
                                                    @Html.CheckBox("Demand", new { Value = data.Value })@data.Text
                                                </label>
                                            }
                                        </div>
                                    </div>
                                    <br style="clear: both;">
                                    <div class="g-tv-6 form clearfix">
                                        <div class="left"><em>※</em> 人才培訓需求</div>
                                        <div class="right">
                                            @Html.DropDownListFor(model => model.Training, new SelectList(Enum.GetValues(typeof(CAEProject.Models.Training))), "請選擇", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Training, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="g-tv-6 form clearfix parentItem">
                                        <div class="left"><em>※</em>訂閱電子報</div>
                                        <div class="right">
                                            @Html.DropDownListFor(model => model.Subscription, new SelectList(Enum.GetValues(typeof(CAEProject.Models.Subscription))), "請選擇", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Subscription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br style="clear: both;">
                                    <div class="g-tv-12 form clearfix">
                                        <div class="left">公司簡介</div>

                                        <div class="right">
                                            @Html.TextAreaFor(model => model.CompanyIntroduction, new { htmlAttributes = new { @class = "form-control", Row = "9", placeholder = "請填寫公司簡介" } })
                                            @Html.ValidationMessageFor(model => model.CompanyIntroduction, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br style="clear: both;">
                                    <div class="g-tv-12 form clearfix">
                                        <div class="left">業務項目</div>

                                        <div class="right">
                                            @Html.TextAreaFor(model => model.Business, new { htmlAttributes = new { @class = "form-control", Row = "9", placeholder = "請填寫公司業務項目" } })
                                            @Html.ValidationMessageFor(model => model.Business, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <input type="hidden" name="Fax" value="123456789" />
                                    <br style="clear: both;">
                                    <div class="g-tv-6 form clearfix parentItem">
                                        <div class="left">上傳公司LOGO</div>

                                        <div class="right">
                                            <div class="file e-btn e-btn_primary ">
                                                選擇檔案
                                                <input name="companyPhone" type="file" class="">
                                            </div>
                                            <div class="h-text-danger"> 圖檔規格建議： 138px* 99px</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form clearfix checkArea">
                                    <!--checkArea-->
                                    <!--送出按鈕-->
                                    <div class="btn clearfix h-text-center">


                                        <button type="submit" class="e-btn e-btn_secondary">確認送出</button>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                }
            </div>
        </div>
    </section>


</article>
<script>
    $(document).ready(function () {
        $("#twzipcode").twzipcode({
            zipcodeIntoDistrict: true,
            css: ["addr-county", "addr-district"], // 自訂 "城市"、"地區" class 名稱
            countyName: "city", // 自訂城市 select 標籤的 name 值
            districtName: "town" // 自訂地區 select 標籤的 name 值
        });
        $("#twzipcode").twzipcode('get', function (city, town, zipcode) {
            $("#county").val(city);
            $("#district").val(town);
            $("#zipcode").val(zipcode);
        });
    })
</script>