@model CAEProject.Models.News

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    文字資訊
                </header>
                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SourceDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6 sandbox-container">
                            @Html.EditorFor(model => model.SourceDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SourceDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Source, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Source, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsTop, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EnumDropDownListFor(model => model.IsTop, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IsTop, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6 sandbox-container">
                            @Html.EditorFor(model => model.SDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6 sandbox-container">
                            @Html.EditorFor(model => model.EDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Count, new { @class = "ckeditor" })
                            @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.DateTime)
                    @Html.HiddenFor(model => model.AddUser)
                    <hr />
                </div>
            </section>
        </div>
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    圖案/附件
                </header>
                <div class="form-horizontal">
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-lg-9">
                            <input type="file" name="photo" />
                            @Html.HiddenFor(model => model.Photo)
                        </div>
                    </div>
                    @if (Model.Photo != null)
                    {
                        <div class="form-group">
                            <p class="control-label col-md-2">原圖片</p>
                            <div class="col-lg-5">
                                <a class="venobox_custom" data-overlay="rgba(95, 164, 255, 0.8)" data-vbtype="iframe" href="/upfile/images/@(Model.Photo)">點我查看</a>
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-lg-9">
                            <input type="file" name="upfile" />
                            例：xxx廠商資料(.PDF , .EXE , .XML ...)
                            @Html.HiddenFor(model => model.File)
                        </div>
                    </div>
                    @if (Model.File != null)
                    {
                        <div class="form-group">
                            <p class="control-label col-md-2">原附件</p>
                            <div class="col-lg-5">
                                <a class="venobox_custom" data-overlay="rgba(95, 164, 255, 0.8)" data-vbtype="iframe" href="/upfile/files/@(Model.File)">點我查看(下載)</a>
                            </div>
                        </div>
                    }
                    <hr />
                </div>
            </section>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <button type="submit" class="btn btn-info"><span class="icon_cloud-upload_alt"></span> 送出</button>
            <a href="@Url.Action("Index", "News", new {area = "admin"})" style="margin: 0 0 0 5px" class="btn btn-danger"><span class="icon_house_alt"></span> 返回</a>
        </div>
    </div>
}

