@model CAEProject.Models.ConnectionUsViewModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@using (Html.BeginForm("ConnectionUs","Home",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class=" bannerPic " style="background-image: url(/CAE-Master/img/bg001.jpeg); background-size: cover; background-position: center center; background-repeat: no-repeat;">

        <div class="container">
            <div class="col-md-12 h-text-center">
                <h1> 與我們聯絡</h1>
            </div>
        </div>
    </section>

    <section class="main-content">
        <div class="container px-md-4">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="  px-sm-3">
                        <div class="container e-sitemap">
                            <ul class="e-breadcrumb ml-0">
                                <li>首頁</li>
                                <li>聯絡我們</li>
                                <li>與我們聯絡</li>
                            </ul>
                            <div class="thankInfo">
                                您有疑問可以先查詢FAQ(常見問題)，若還有其他問題您可以線上填寫表單留言給我們， 收到您的訊息後，我們盡快請專人回覆您的問題。謝謝您！
                            </div>


                            <div class="e-formBox clearfix mb-3">
                                <!--e-formBox-->

                                <div class="g-tv-12 form clearfix">
                                    @Html.LabelFor(model => model.FaqStatus,"問題類別：", htmlAttributes: new { @style = "display: inline-block;" })
                                    @Html.EnumDropDownListFor(model => model.FaqStatus, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FaqStatus, "", new { @class = "text-danger" })
                                </div>

                                <br style="clear:both;">

                                <div class="g-tv-6 clearfix">
                                    <div class="left">
                                        <em>※</em>@Html.LabelFor(model => model.Name)

                                        @Html.RadioButtonFor(model => model.GenderType, 0, new { @id = "GenderType0", @name = "GenderType", @class = "form-control", @checked = "checked" }) <label for="GenderType0">先生</label>
                                        @Html.RadioButtonFor(model => model.GenderType, 1, new { @id = "GenderType1", @name = "GenderType", @class = "form-control" }) <label for="GenderType1">小姐</label>
                                        @Html.ValidationMessageFor(model => model.GenderType, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="right">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="g-tv-6  clearfix">
                                    <div class="left">@Html.LabelFor(model => model.Phone)</div>
                                    <div class="right">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br style="clear:both;">

                                <div class="g-tv-6   clearfix">
                                    <div class="left"><em>※</em>@Html.LabelFor(model => model.MobilePhone)</div>
                                    <div class="right">
                                        @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="g-tv-6  clearfix">
                                    <div class="left">@Html.LabelFor(model => model.Email)</div>
                                    <div class="right">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "例：123@gmail" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br style="clear:both;">

                                <div class="g-tv-12   clearfix">
                                    <div class="left"><em>※</em>@Html.LabelFor(model => model.Count)</div>
                                    <div class="right">
                                        @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br style="clear:both;">
                                <!-- 驗證碼 -->
                                <div class="g-tv-3 clearfix d-flex">
                                    <div class="lef mr-1"> <input type="text" id="vutify" name="vutify"></div>
                                    <div class="right">
                                        <img style="height:35px" src="./img/vertify.png " alt=" " class="e-img ">
                                    </div>
                                </div>
                                <br style="clear:both; ">
                                <!--form end-->
                                <div class="form clearfix checkArea  mt-sm-4 mt-2">
                                    <!--送出按鈕-->
                                    <div class="btn clearfix h-text-center">

                                        <button type="reset" class="e-btn e-btn_secondary mr-1" value="reset">重 填</button>
                                        <button type="submit" class="e-btn e-btn_success" value="send">送 出</button>

                                    </div>
                                </div>
                                <!--checkArea end-->

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
}