@using CAEProject.Models
<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <link href="~/Content/ViewPageStyle.css" rel="stylesheet" />
    <link href="~/CAE-Master/css/all.css" rel="stylesheet" />
    <script src="~/CAE-Master/js/jquery.3.31.js"></script>
    <script src="~/CAE-Master/js/jquery.ui.js"></script>
    <script src="~/CAE-Master/js/swiper-min.js"></script>
    <script src="~/jQuery-TWzipcode-master/jquery.twzipcode.min.js"></script>
</head>

<body class="full">
    <div class="wrapper outerWrap">

        <!-- searchArea -->
        <div class="searchArea">
            <!-- searchArea -->
            <a href="javascript:;" class="btnClose">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="inner">
                <!-- inner -->
                <form class="search-container">
                    <input type="text" id="search-bar" placeholder="搜尋關鍵字...">
                    <button type="submit" class="search_Button">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
                <!-- inner end -->
            </div>

        </div>

        <!--loginArea-->
        <div class="loginArea moduleBox" id="moduleMember">
            <div class="box">
                <!--box-->
                <a id="closeLogin" class="moduleClose"><i class="fas fa-times"></i></a>
                <div class="login">
                    <!--login-->
                    <h4 class="m-member-form__title h-t4">會員登入</h4>
                    @using (Html.BeginForm("HomeLogin", "Members"))
                    {
                        @Html.AntiForgeryToken()
                        <label class="m-member-form__label" for="帳號">*帳號</label>
                        <div class="e-form-square mb-1">
                            <i class="e-form-square__icon far fa-user"></i>
                            <input class="e-form-square__input" id="email" name="account">
                        </div>

                        <label class="m-member-form__label" for="密碼">*密碼</label>
                        <div class="e-form-square mb-1">
                            <i class="e-form-square__icon fas fa-lock"></i>
                            <input class="e-form-square__input" type="password" id="password" name="password">
                        </div>

                        <div class="btn">
                            <button type="submit" class="login_btn_status" style="cursor:pointer" onclick="login_btn();">登入</button><i class="fa fa-spinner fa-spin login_loading_status" style="display:none"></i>
                        </div>
                    }

                    <div class="btns ">
                        <a class="btn_forget">忘記密碼</a>
                    </div>
                    <div class="btns">
                        還不是會員?
                        <a class="btn_register" onclick="location.href=''">註冊會員</a>
                    </div>
                </div>
                <!--login end-->



                <div class="forgetCheck">
                    <!--forgetCheck-->
                    <h4 class="m-member-form__title h-t4">查詢密碼</h4>
                    <p class="my-2">
                        請輸入您申請會員時填寫的資料， 核對無誤後，系統會將您的密碼寄至您的聯絡信箱：
                    </p>
                    <label class="m-member-form__label" for="帳號">* 註冊帳號</label>
                    <div class="e-form-square mb-1">
                        <i class="e-form-square__icon far fa-user"></i>
                        <input class="e-form-square__input" type="email" id="email_check" name="email">
                    </div>
                    <label class="m-member-form__label" for="密碼">*註冊郵件</label>
                    <div class="e-form-square mb-1">
                        <i class="e-form-square__icon fas fa-lock"></i>
                        <input class="e-form-square__input" type="password" id="password_check" name="password">
                    </div>
                    <div class="btn">
                        <a class="btn_color1 forget_btn_status">查詢</a>
                    </div>
                    <div class="btns my-2">
                        <a class="btn_relog ">重新登入</a>
                    </div>
                    <p class="h-m1"><i class=" fa fa-circle-notch"></i> 如為企業用戶，註冊email為貴公司聯絡窗口email </p>
                </div>
                <!--forgetCheck end-->
            </div>
            <!--box end-->
        </div>

        <!--Top Menu-->
        <section class="Nav">
            <nav class="topNavWrap">

                <ul class="subNavTxt">
                    <li><a target="＃" href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a target="＃" href="@Url.Action("ConnectionUs","Home")">聯絡我們</a></li>
                    <li><a target="＃" href="@Url.Action("SiteMap","Home") ">網站導覽</a> </li>
                    <li><a target="＃" href="@Url.Action("Index","Faqs")">常見問題</a></li>
                </ul>

            </nav>
            <nav class="subNavWrap">
                <a href="javascript:void(0)" class="menuControl" title="展開選單">展開選單</a>
                <a href="@Url.Action("Index","Home")" title="CAELogo-回首頁" class="logo">
                    <h1>CAE雲端及試作服務加值中心</h1>
                </a>
                <div class="subNav menu">
                    <!-- <a href="#U" id="U" name="U" accesskey="U" class="acc" title="上方選單區導盲磚">:::</a> -->
                    <ul class="subNavTxt_right">
                        <li class="search_btn btnSearch">
                            <a href="javascript:;" title="search_icon" class="">
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                        @{
                            if (Session["member"] != null)
                            {
                                Member member = (Member)Session["member"];
                                <li class="login_btn">
                                    <a href="@Url.Action("Logoff","Members")" title="登出" class="openModule">
                                        <div class="menu_box" style="background-image: url('/CAE-Master/img/Doctor.png')"> </div>
                                        <div class="dsc">@member.Account 登出</div>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="login_btn">
                                    <a href="#moduleMember" title="登入註冊" class="openModule">
                                        <div class="menu_box" style="background-image: url('/CAE-Master/img/Doctor.png')"> </div>
                                        <div class="dsc"> 登入/註冊</div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </nav>
            <nav class="mainNavWrap hideMenu">
                <ul class="topNav topNav_primary">
                    <li class="NoLv3 haveSecond ">
                        <a class=" " href="javascript:void(0) ">
                            <i class="fab fa-sellsy"></i><span>中心簡介 </span>
                        </a>
                        <ul>
                            <li class="Level2 ">
                                <a target="_self" href="@Url.Action("AboutUs","AboutUs")">    關於CAE中心 </a>
                            </li>

                            <li class="Level2 ">
                                <a target="_self " href="@Url.Action("ConnectionUs","AboutUs")"> 聯絡方式</a>
                            </li>
                            <li class="Level2 ">
                                <a target="_self " href="@Url.Action("Service","AboutUs")"> 服務項目介紹</a>
                            </li>
                        </ul>
                    </li>

                    <li class="NoLv3 haveSecond">
                        <a href="javascript:void(0)">
                            <i class="fas fa-bullhorn"></i><span>公告服務</span>
                        </a>
                        <ul>
                            <li class="Level2 ">
                                <a href="@Url.Action("News","News")">焦點新聞</a>
                            </li>
                            <li class="Level2 ">
                                <a href="@Url.Action("TechDetail","TechnicalKnowledges")">技術新知</a>
                            </li>
                            <li class="Level2 ">
                                <a href="@Url.Action("PhotoGallery","ActivityRecords")"> 活動集錦</a>
                            </li>
                        </ul>
                    </li>

                    <li class="NoLv3 haveSecond ">
                        <a href="javascript:void(0) ">
                            <i class="fas fa-chalkboard-teacher"></i><span>研討會/課程</span>
                        </a>
                        <ul>
                            <li class="Level2 ">
                                <a target="" href="@Url.Action("SeminarDetail","Seminars")"> 研討會/說明會</a>
                            </li>
                            <li class="Level2 ">
                                <a target="" href="@Url.Action("Index","TrainingCourses",new {area=""})"> 教育訓練課程 </a>

                            </li>
                        </ul>
                    </li>

                    <li class="NoLv3 haveSecond ">
                        <a href="javascript:void(0)">
                            <i class="fas fa-laptop-code"></i><span>軟體模擬分析</span>
                        </a>
                        <ul>
                            <li class="Level2 ">
                                <a href="soft.html "> 軟體簡介</a>
                            </li>

                            <li class="Level2 ">
                                <a href="soft_proc.html "> 預約 </a>

                            </li>

                            <li class="Level2 ">
                                <a href="soft_login.html"> 模擬執行</a>

                            </li>
                        </ul>
                    </li>

                    <li class="NoLv3 haveSecond ">
                        <a href="javascript:void(0)">
                            <i class="fas fa-briefcase"></i> <span>互動服務</span>
                        </a>
                        <ul>
                            <li class="Level2 ">
                                <a target="" href="@Url.Action("TrialService","Home")"> 試作服務 </a>
                            </li>
                            <li class="Level2 ">
                                <a target="" href="@Url.Action("ProjectService","ProjectServices")"> 專案服務 </a>
                            </li>
                            <li class="Level2 ">
                                <a target="" href="@Url.Action("Index","Faqs")"> 常見問題 </a>

                            </li>
                        </ul>
                    </li>

                    <li class="NoLv3 haveSecond ">
                        <a href="javascript:void(0) ">
                            <i class="fas fa-paste"></i><span>成果展示</span>
                        </a>
                        <ul>
                            <li class="Level2 ">
                                <a title="案例展示 " href="@Url.Action("Case","ShowOffs") " rel="# ">案例展示</a>
                            </li>
                            <li class="Level2 ">
                                <a title="成果發表 " href="@Url.Action("Result","ResultsPublisheds")" rel="#">成果發表 </a>
                            </li>
                        </ul>
                    </li>

                    <li class="NoLv3 haveSecond ">
                        <a href="javascript:void(0) ">
                            <i class="far fa-user"></i><span>會員專區</span>
                        </a>
                        <ul>
                            @{
                                if (Session["member"] == null)
                                {
                                    <li class="Level2 ">
                                        <a href="@Url.Action("Right","Members")"> 會員權益 </a>
                                    </li>
                                    <li class="Level2 ">
                                        <a href="@Url.Action("Register","Members")">會員註冊 </a>
                                    </li>
                                    <li class="Level2 ">
                                        <a href="@Url.Action("Login","Members")"> 會員登入</a>
                                    </li>
                                    <li class="Level2 ">
                                        <a href="@Url.Action("Forget","Members")"> 忘記密碼 </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="Level2 ">
                                        <a href="@Url.Action("MemberCenter","MemberCentre")"> 會員中心 </a>
                                    </li>
                                    <li class="Level2 ">
                                        <a href="@Url.Action("Right","Members")"> 會員權益 </a>
                                    </li>
                                    <li class="Level2 ">
                                        <a href="@Url.Action("Logoff","Members")"> 會員登出</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>

                    <li class=" ">
                        <a target="" onclick="window.location='epaper.html'" href="@Url.Action("Index","Newsletters")">
                            <i class="far fa-newspaper"></i><span> 電子報</span>
                        </a>

                    </li>

                    <li class=" mobileShow NoLv3 ">
                        <a target="" href="contact.html">
                            <span>聯絡我們</span>
                        </a>
                    </li>

                    <li class=" mobileShow ">
                        <a target=" " href="sitemap.html ">
                            <span>網站導覽</span>
                        </a>

                    </li>

                    <li class=" mobileShow NoLv3 ">
                        <a target=" " href="faq.html ">
                            <span> 常見問題</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </section>

        <!-- slide menu -->
        <div id="navService" class="no-hover scroll-up shadow down">
            <div class="navHead">
                <span>熱門連結</span>
                <i class="arrow fas fa-arrow-left "></i>
            </div>
            <div class="navInfo">
                <div class="desktop-swiper">
                    <div class="swiper-slide">
                        <a href="@Url.Action("Register","Members")">
                            <div class="navInfo__icon">
                                <img src="~/CAE-Master/img/user.png" />
                            </div>
                            <div class="tip">會員專區</div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="@Url.Action("TrialService","Home")">
                            <div class="navInfo__icon">
                                <img src="~/CAE-Master/img/form.png" />
                            </div>
                            <div class="tip">試作服務</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="@Url.Action("ProjectService","ProjectServices")">
                            <div class="navInfo__icon">
                                <img src="~/CAE-Master/img/content.png" />
                            </div>
                            <div class="tip">專案服務</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="@Url.Action("SeminarDetail","Seminars")">
                            <div class="navInfo__icon">
                                <img src="~/CAE-Master/img/knowledge.png" />
                            </div>
                            <div class="tip">研討會</div>
                        </a>
                    </div>
                </div>
                <!---->
            </div>
        </div>

        @RenderBody()

        <!--Footer-->
        <footer class="l-footer pt-5 pb-1">
            <div class="container px-md-4 px-lg-2">
                <div class="row justify-content-between">

                    <div class="col-xl-7 mb-3 mb-xl-0">
                        <h2 class="mb-1 fon">CAE雲端服務加值中心</h2>
                        <ul class="l-footer__connection">
                            <li>地址：高雄市楠梓區朝仁路55號</li>
                            <li>電話：07-3517161-6253,6250 / 傳真 07-3512981</li>
                            <li>服務時間：週一至週五 08:30-18:00 週六、日及例假日休息</li>
                            <li>瀏覽人次：71090</li>
                            <li>建議使用 Internet Explorer 11 以上版本、最新版本Chrome或Firefox瀏覽器， 並設定 1024ｘ768 以上解析度，以獲得最佳瀏覽體驗</li>
                        </ul>
                    </div>
                    <div class="col-xl-2 mb-3 mb-xl-0 d-flex">
                        <div class="l-footer__company ">
                            <h1 class="h-hide-text mb-2">
                                <a href="#" title="logo" style="background-image: url('./img/cae_foot_qr.png')" class="e-brand l-footer__Qimg"></a>
                            </h1>

                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!--To Top-->
        <div class="othersBtn">
            <a href="javascript:;" class="fixedBtn goTop" title="回頂端"><b>Top</b></a>
            <!-- <a href="javascript:history.back()" class="fixedBtn goBack" title="回上頁"><b>回上頁</b></a> -->
            <!-- <a href="javascript:;" class="closeOpenMenu" title="關閉選單">關閉選單</a> -->
        </div>

        @RenderSection("scripts", required: false)

    </div>
</body>
<script src="~/CAE-Master/js/twinlite.js"></script>
<script src="~/CAE-Master/js/cssPlugin.js"></script>
<script src="~/CAE-Master/js/all.js?1112"></script>

</html>
@if (TempData["PcError"] != null)
{
    <script type="text/javascript">
    var message = @Html.Raw(Json.Encode(TempData["PcError"]));
    alert(message);
    </script>
}

@if (TempData["memberSuccess"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["memberSuccess"]));
        alert(message);
    </script>
}

@if (TempData["memberError"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["memberError"]));
        alert(message);
    </script>
}

@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["Error"]));
        alert(message);
    </script>
}


@*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("應用程式名稱", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                            <li>@Html.ActionLink("關於", "About", "Home")</li>
                            <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

        </div>
    </body>
    </html>*@
