@model CAEProject.Models.TechnicalKnowledge

@{
    ViewBag.Title = "Edit";
    int a = 0, b = 0;
}

<article>
    <section class="main-content">
        <div class="container px-md-4">
            <div class="row">
                <div class="col-sm-12 col-xl-9">
                    <div class="container">
                        <ul class="e-breadcrumb">
                            <li>首頁</li>
                            <li>公告服務</li>
                            <li>技術新知</li>
                        </ul>

                        <div class="newsContent">
                            <p class="TextTitle2">
                                @Model.Title
                            </p>
                            <div class="TextContent my-3">
                                <span class="newsDate"> <u>刊登日期</u> </span> <span class="newsDate_date">@Model.SDate.ToString("yyyy-MM-dd") </span> <span class="newsDate"> 資料來源</span><span class="newsDate_date"><a target="_blank" href="@Model.Url">@(Model.Url==null?"": "相關連結") </a></span>
                            </div>

                            <p class="TextContent">
                                <img class="e-img" alt="" src="/upfile/images/s@(Model.Photo)" style="padding-right: 10px; float: left; width: 477px; height: 307px;">
                                @Html.Raw(Model.Count)
                            </p>
                            <hr />
                            <div class="h-text-right">
                                <a href="@Url.Action("TechDetail","TechnicalKnowledges",new {page=Request.QueryString["page"]})" class="e-btn e-btn_success " style="margin: 0 0 1em 0">返回列表</a>
                            </div>
                        </div>
                        <!-- 頁數 -->
                    </div>
                </div>
                <div class="col-sm-12 col-xl-3">

                    <div class="e_news mt-4">
                        <h3> <i class="fas fa-bullhorn"></i> 熱門研討會</h3>

                        <ul class="items_news items_news_muted">
                            @foreach (var sem in ViewBag.SeminarsNews)
                            {
                                if (a == 0)
                                {
                                    <li class="oneNews Hot">
                                        <a title="" href="">
                                            <span class="newsDate">
                                                <u>@sem.SDate.ToString("yyyy")</u><i>@sem.SDate.ToString("M/dd")</i>
                                            </span>
                                            <h2>@sem.Title</h2>
                                            <b class="department"></b>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="oneNews">
                                        <a title="" href="">
                                            <span class="newsDate">
                                                <u>@sem.SDate.ToString("yyyy")</u><i>@sem.SDate.ToString("M/dd")</i>
                                            </span>
                                            <h2>@sem.Title</h2>
                                        </a>
                                    </li>
                                }
                                a++;
                            }

                        </ul>
                    </div>
                    <div class="e_news">
                        <h3> <i class="fas fa-chalkboard-teacher"></i>熱門課程</h3>
                        <ul class="items_news items_news_muted">
                            @foreach (var sem in ViewBag.TrainingCourseNews)
                            {
                                if (b == 0)
                                {
                                    <li class="oneNews Hot">
                                        <a title="" href="">
                                            <span class="newsDate">
                                                <u>@sem.SDate.ToString("yyyy")</u><i>@sem.SDate.ToString("M/dd")</i>
                                            </span>
                                            <h2>@sem.Title</h2>
                                            <b class="department"></b>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="oneNews">
                                        <a title="" href="">
                                            <span class="newsDate">
                                                <u>@sem.SDate.ToString("yyyy")</u><i>@sem.SDate.ToString("M/dd")</i>
                                            </span>
                                            <h2>@sem.Title</h2>
                                        </a>
                                    </li>
                                }
                                b++;
                            }

                        </ul>
                    </div>

                    <div class="e_news">
                        <h3> <i class="fas fa-newspaper"></i> 廣告專區</h3>
                        <ul class="items_news items_news_ad_color">
                            <div class="p-ad__content ">
                                @foreach (var ad in ViewBag.AdNews)
                                {
                                    <div class="p-ad__img">
                                        <a title="@ad.Title" href="@ad.Url">
                                            <img src="/upfile/images/s@(ad.Photo)" class="e__img">
                                        </a>
                                    </div>
                                }
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>